version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: elisia-postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: elisia_dev
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: aulia1234
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: elisia-app
    restart: unless-stopped
    depends_on:
      - postgres
    env_file:
      - .env.development
    environment:
      DB_HOST: postgres
    ports:
      - "5000:5000"
    volumes:
      - ./logs:/app/logs

volumes:
  postgres_data:
